@import '../../vars.scss';

.footer {
  background: #2B2B35;
  width: 100%;
  color: #fff;
  min-height: 300px;
  padding: 48px 0 64px 0;


  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    img {
      height: 64px;
    }
  }

  &-founded {
    font-size: 14px;
    margin-bottom: 48px;
  }

  &-col {
    &-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    &-i {
      margin-bottom: 16px;

      a {
        color: #fff;
      }
    }

    &-contact {
      display: flex;
      margin-bottom: 16px;

      span {
        margin-right: 16px;
      }

      a {
        color: #ffffff;
      }

      &-i {
        a {
          display: block;
          margin-bottom: 6px;
        }
      }
    }
  }
}