@import '../../../vars.scss';

.react {
  &-welcome {
    &-web {
      background: url('/images/back/back-react.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-react {
      background: url('/images/back/back-react.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-python {
      background: url('/images/back/back-python.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-bg {
      background: rgba(0, 0, 0, 0.5);
    }

    &-inner {
      padding: 160px 0;
      color: #fff;
    }

    &-title {
      @include title(64px);
      font-weight: bold;
      margin-bottom: 24px;

      span {
        color: $blue;
      }
    }

    &-text {
      width: 60%;
      font-size: 20px;
      margin-bottom: 36px;
    }

    &-button {

      button {
        @include button;
      }
    }


  }

  &-about {
    padding: 64px 0;
    background: #fff;

    // &-inner {
    //   background-image: url('/images/back/back-about.png');
    //   background-repeat: no-repeat;
    //   background-position: right;
    //   background-size: contain;
    // }

    &-title {
      @include title(48px);
      font-weight: bold;
      margin-bottom: 64px;
    }

    &-text {}

    &-items {
      width: 100%;
      display: flex;
      flex-flow: row wrap;

      &-i {
        margin-bottom: 24px;
        display: flex;

        &-img {
          width: 48px;
          margin-right: 24px;

          img {
            width: 100%;
          }
        }

        &-content {
          width: calc(100% - 72px);
        }

        &-title {
          font-weight: bold;
          font-size: 36px;
          margin-bottom: 8px;
        }

        &-text {
          font-size: 20px;

          line-height: 36px;

          opacity: 0.7;
        }
      }
    }
  }

  &-in {
    &-inner {
      padding: 64px 0;
    }

    &-title {
      // @include title(36px);
      @include title(48px);
      font-weight: bold;
      margin-bottom: 64px;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      &-i {
        width: 30%;
        text-align: center;

        &-title {
          @include title(64px);
          color: $blue;
          padding-bottom: 12px;
          margin-bottom: 12px;
          border-bottom: 2px solid $blue;
        }

        &-text {
          font-size: 18px;
          // margin-left: -36px;
        }
      }
    }
  }

  &-exp {
    // background: $blue;
    padding: 64px 0;
    // color: #fff;

    &-inner {
      @include title(20px);
      // font-size: 20px;
    }
  }

  &-q {
    background: $blue;
    color: #fff;

    &-inner {
      display: flex;
      justify-content: space-between;
      padding: 48px 0;
    }

    &-content {
      width: 30%;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    &-text {
      font-size: 18px;
    }

    &-items {
      width: 60%;
      display: flex;
    }

    &-i {
      width: 33.3333%;

      &-name {
        font-size: 18px;
        opacity: 0.7;
        margin-bottom: 12px;
      }

      &-number {
        font-size: 18px;
        margin-bottom: 12px;

        a {
          color: #ffffff;
          transition: 0.3s ease;
        }
      }
    }
  }

  &-ready {
    &-inner {
      padding: 64px 0;
    }

    &-title {
      @include title(48px);
      margin-bottom: 24px;
      color: $blue;
    }

    &-text {
      font-size: 20px;
      line-height: 36px;
      width: 60%;
    }
  }

  &-plan {
    &-inner {
      padding: 64px 0;
    }

    &-title {
      @include title(48px);
      margin-bottom: 36px;
    }

    &-opener {
      &-title {
        padding: 24px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        outline: none;
        font-size: 18px;
        border: 1px solid #fff;
        transition: 0.3s;
        background: #ffffff;
        color: #000;

        &:hover {
          color: #000;
        }
      }

      &-content {
        border-radius: 6px;
        transition: 0.3s;
        padding: 24px;
        margin-top: 0;

        li {
          list-style: none;
          font-size: 18px;
          line-height: 36px;
        }
      }
    }


    &-items {
      display: flex;
      flex-flow: row wrap;

      &-i {
        width: calc(100% / 3 - 24px);
        margin-right: 36px;
        margin-bottom: 24px;

        &:nth-child(3n) {
          margin-right: 0;
        }

        &-num {
          @include title(40px);
          margin-bottom: 16px;
          color: $blue;
        }

        &-text {
          font-size: 18px;
          line-height: 28px;
        }
      }
    }
  }

  &-team {
    margin-bottom: 84px;

    &-inner {
      padding: 64px 0;
    }

    &-title {
      @include title(48px);
      margin-bottom: 36px;
    }

    &-items {
      display: flex;
      justify-content: space-between;

      &-i {
        width: 30%;
        border-radius: 8px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &-cover {
          padding: 24px;
          border-radius: 8px;
          height: 100%;
          color: #fff;
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-end;
          background: rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          padding-top: 96px;
        }

        &-type {
          opacity: 0.7;
          margin-bottom: 8px;
        }

        &-name {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 16px;
        }
      }
    }
  }

  &-partners {
    margin-bottom: 84px;

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-i {
      width: 45%;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
      box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
      background: #fff;
      padding: 36px;

      &-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 24px;


        div {
          color: $blue
        }
      }

      &-text {
        font-size: 18px;
        margin-bottom: 36px;
      }

      &-button {
        span {
          @include button;
        }
      }
    }
  }

  &-select {
    background-image: url('/images/back/back-about-select-2.jpg');
    background-size: cover;
    color: #fff;
    margin-bottom: 1px;

    &-inner {
      padding: 84px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-content {
      width: 50%;
    }

    &-form {
      width: 40%;
      padding-left: 64px;

      &-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 36px;
      }

      &-inner {

        input,
        textarea {
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          margin-bottom: 16px;
          padding: 16px 24px;
          border-radius: 6px;
          -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
          outline: none;
          font-size: 18px;
          border: 1px solid #fff;
          transition: 0.3s;

          &::placeholder {
            font-family: 'Gilroy';
            color: #000;
          }

          &:focus {
            border: 1px solid #000;
          }
        }

        button {
          @include button-white;
          width: 100%;
        }
      }
    }

    &-img {
      width: 50%;

      img {
        margin-top: -64px;
      }
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 36px;
    }

    &-text {
      margin-bottom: 48px;
    }

    &-button {
      button {
        @include button-white
      }
    }
  }

  &-chat {
    background-image: url('/images/back/back-about-chat.jpg');
    background-position: center;

    &-inner {
      padding: 84px 0;
      text-align: center;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-text {
      margin-bottom: 36px;
      line-height: 28px;
    }

    &-button {
      button {
        @include button;
      }
    }
  }
}