@import '../../vars.scss';

.about {
  &-welcome {

    &-inner {
      padding: 84px 0;
    }

    &-title {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 24px;

      span {
        color: $blue;
      }
    }

    &-text {
      width: 60%;
      font-size: 20px;
      margin-bottom: 36px;
    }

    &-button {

      span {
        @include button;
      }
    }


  }

  &-about {
    margin-bottom: 36px;

    &-inner {
      background-image: url('/images/back/back-about.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-size: 44px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-text {
      font-size: 18px;
    }

    &-items {
      width: 50%;
      display: flex;
      flex-flow: row wrap;

      &-i {
        margin-bottom: 24px;

        &-title {
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 8px;
        }

        &-text {
          font-size: 18px;
          opacity: 0.7;
        }
      }
    }
  }

  &-q {
    background: $blue;
    color: #fff;

    &-inner {
      display: flex;
      justify-content: space-between;
      padding: 48px 0;
    }

    &-content {
      width: 30%;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    &-text {
      font-size: 18px;
    }

    &-items {
      width: 60%;
      display: flex;
    }

    &-i {
      width: 33.3333%;

      &-name {
        font-size: 18px;
        opacity: 0.7;
        margin-bottom: 12px;
      }

      &-number {
        font-size: 18px;
        margin-bottom: 12px;

        a {
          transition: .3s ease;
          color: #ffffff;
        }
      }
    }
  }

  &-founder {
    background-image: url('/images/back/back-founder.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 84px 0;
    color: #fff;

    &-inner {
      width: 60%;
      margin-left: auto;
      font-size: 18px;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-text {
      line-height: 32px;
      margin-bottom: 48px;
    }

    &-name {
      font-weight: bold;
      margin-bottom: 16px;
    }
  }

  &-team {
    margin-bottom: 84px;

    &-inner {
      padding: 64px 0;
    }

    &-title {
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-items {
      display: flex;
      justify-content: space-between;
      text-align: center;

      &-i {
        width: 20%;

        &-cover {
          padding: 36px;
        }

        &-img {
          padding-bottom: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          transition: .3s ease;

          &:hover {
            transform: scale(1.05);

          }
        }

        &-type {
          opacity: 0.7;
          margin-bottom: 8px;
        }

        &-name {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 16px;
        }
      }
    }
  }

  &-partners {
    margin-bottom: 84px;

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-i {
      width: 45%;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
      box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
      background: #fff;
      padding: 36px;

      &-title {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 24px;


        div {
          color: $blue
        }
      }

      &-text {
        font-size: 18px;
        margin-bottom: 36px;
      }

      &-button {
        a {
          @include button;
        }
      }
    }
  }

  &-select {
    background-image: url('/images/back/back-about-select-2.jpg');
    background-size: cover;
    color: #fff;
    margin-bottom: 1px;

    &-inner {
      display: flex;
    }

    &-content {
      width: 50%;
      padding: 84px 0;
    }

    &-img {
      width: 50%;

      img {
        margin-top: -64px;
      }
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 36px;
    }

    &-text {
      margin-bottom: 48px;
    }

    &-button {
      button {
        @include button-white
      }
    }
  }

  &-chat {
    background-image: url('/images/back/back-about-chat.jpg');
    background-position: center;

    &-inner {
      padding: 84px 0;
      text-align: center;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-text {
      margin-bottom: 36px;
      line-height: 28px;
    }

    &-button {
      a {
        @include button;
      }
    }
  }
}