$blue:#0055d9;
$red:#D7014C;
$darkblue:#01265F;


@mixin title ($size) {
  font-size: $size;
  font-weight: bold;
}

@mixin button {
  padding: 16px 36px;
  background: $blue;
  font-size: 16px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(15, 12, 206, 0.3);
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 10px rgba(15, 12, 206, 0.7);
  }
}

@mixin button-white {
  padding: 16px 36px;
  background: #fff;
  font-size: 16px;
  border-radius: 6px;
  text-align: center;
  color: #0055d9;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(15, 12, 206, 0.3);
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 10px rgba(15, 12, 206, 0.7);
  }
}

@mixin button-red {
  padding: 16px 36px;
  background: rgb(215, 1, 76);
  font-size: 16px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(215, 1, 76, 0.3);
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
    box-shadow: 2px 2px 10px rgba(215, 1, 76, 0.7);
  }
}

@mixin form {

  input,
  textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 16px;
    padding: 16px 24px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
    outline: none;
    font-size: 18px;
    border: 1px solid #fff;
    transition: 0.3s;

    &::placeholder {
      font-family: 'Gilroy';
      color: #000;
    }

    &:focus {
      border: 1px solid #000;
    }
  }
}