@import '../../vars.scss';


.event {
  background: url('/images/back/back-event.png');
  background-repeat: no-repeat;
  background-size: cover;

  &-top {
    &-inner {
      padding: 64px 0;
      display: flex;
      justify-content: space-between;
    }

    &-title {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-content {
      width: 50%;
    }


    &-date {
      margin-bottom: 24px;
      opacity: 0.7;
    }

    &-learn {
      &-title {
        font-size: 24px;
        margin-bottom: 24px;
      }

      &-i {
        font-size: 18px;
        margin-bottom: 24px;
      }
    }

    &-text {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }

  &-form {
    width: 40%;
    padding-left: 64px;

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 36px;
    }

    &-inner {

      input,
      textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 16px;
        padding: 16px 24px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        outline: none;
        font-size: 18px;
        border: 1px solid #fff;
        transition: 0.3s;

        &::placeholder {
          font-family: 'Gilroy';
          color: #000;
        }

        &:focus {
          border: 1px solid #000;
        }
      }

      button {
        @include button;
        width: 100%;
      }
    }
  }

  &-all {

    &-inner {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 36px;
    }
  }

  &-items {
    &-inner {
      display: flex;
      flex-flow: row wrap;
      margin: 36px 0;
    }


    &-i {
      width: calc(100% / 3 - 36px);
      margin-right: 54px;
      height: 240px;
      padding: 24px;
      background: #fff;
      margin-bottom: 36px;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
      box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
      cursor: pointer;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &-badge {
        width: 40%;
        margin-bottom: 16px;

        span {
          color: $blue;
        }
      }

      &-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      &-start {}
    }

  }

}