@import '../../vars.scss';

.err {
  padding-bottom: 6px;
  color: $red;
}

.main {
  &-welcome {
    background-image: url('/images/back/welcome-ng.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-bg {
      background: rgba(0, 0, 0, 0.7);
    }

    &-inner {
      padding: 120px 0;
      display: flex;
      justify-content: space-between;
    }

    &-content {
      width: 60%;
      padding-right: 64px;
    }

    &-form {
      width: 40%;
    }

    &-title {
      width: 50%;
      font-size: 48px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 24px;
    }

    &-text {
      width: 70%;
      font-size: 20px;
      color: #fff;
      margin-bottom: 36px;
    }

    &-form {
      width: 30%;

      &-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 36px;
        color: #ffffff;
      }


      &-button {
        @include button;
        width: 100%;
      }

      &-white {
        @include button-white;
        width: 100%;
      }

      &-inner {

        input,
        textarea {
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          margin-bottom: 16px;
          padding: 16px 24px;
          border-radius: 6px;
          -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
          box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
          outline: none;
          font-size: 18px;
          border: 1px solid #fff;
          transition: 0.3s;

          &::placeholder {
            font-family: 'Gilroy';
            color: #000;
          }

          &:focus {
            border: 1px solid #000;
          }
        }
      }
    }

    &-button {
      button {
        @include button;
      }
    }


  }

  &-about {
    margin: 84px;

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    &-left {
      width: 40%;
    }

    &-title {
      font-size: 44px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-text {
      font-size: 18px;
    }

    &-items {
      width: 55%;
      display: flex;
      flex-flow: row wrap;

      &-i {
        width: calc(50% - 16px);
        margin-right: 32px;
        margin-bottom: 24px;
        display: flex;

        &:nth-child(2n) {
          margin-right: 0;
        }

        &-img {
          width: 48px;

          img {
            width: 100%;
          }
        }

        &-content {
          width: calc(100% - 48px);
          padding-left: 12px;
        }

        &-title {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 8px;
        }

        &-text {
          font-size: 15px;
        }
      }
    }
  }

  &-partners {
    background: #ebebeb;
    padding: 48px 0;


    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-content {
      width: 50%;
      font-size: 32px;
      font-weight: bold;

      span {
        color: $blue;
      }
    }

    &-items {
      width: 40%;
      display: flex;
      flex-flow: row wrap;

      img {
        width: 33%;
        padding: 6px;
      }
    }
  }

  &-courses {
    padding: 64px 0;
    background: #ffffff;

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 36px;
    }

    &-info {
      display: flex;
      align-items: center;
      margin-bottom: 64px;
    }

    &-img {
      width: 120px;
      margin-right: 64px;

      img {
        width: 100%;
      }
    }

    &-text {
      width: 50%;
      font-size: 18px;
      line-height: 32px;
    }

    &-button {
      margin-left: auto;

      span {
        @include button;
      }
    }

    &-content {
      &-title {
        margin-bottom: 36px;

        span {
          margin-right: 48px;
          font-size: 18px;
          font-weight: 600;
          padding: 6px 0;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            color: $blue;
            border-bottom: 4px solid $blue;
          }
        }



        &-active {
          color: $blue;
          border-bottom: 4px solid $blue;
        }
      }
    }

    &-items {
      display: flex;
      flex-flow: row wrap;

      &-i {
        width: calc(100% / 3 - 36px);
        margin-right: 54px;
        height: 360px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        background-size: contain;
        background-position: center;
        border-radius: 8px;
        -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }

        &-bg {
          background: rgba(0, 0, 0, 0.6);
          padding: 24px;
          height: 100%;
          color: #fff;
          border-radius: 8px;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }

        &-badge {
          margin-bottom: 24px;

          span {
            background: $red;
            color: white;
            padding: 6px;
          }
        }

        &-name {
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 16px;
        }

        &-start {}
      }
    }

  }

  &-sub {
    background-image: url('/images/back/back-sub.jpg');
    color: #fff;

    &-inner {
      padding: 64px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    &-send {
      display: flex;

      input {
        padding: 0 24px;
        height: 48px;
        outline: none;
        font-size: 20px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;

        &::placeholder {
          font-family: 'Gilroy';
        }
      }


    }

    &-button {
      background-color: $darkblue;
      display: flex;
      align-items: center;
      padding: 0 24px;
      height: 48px;
      font-size: 20px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  &-mater {
    // background-image: url('/images/back/back-mater-1.jpg');
    // background-size: cover;
    // background-position: center;
    padding: 64px 0;

    &-inner {
      // margin: 120px 0;
      display: flex;
      align-items: center;
    }

    &-content {
      width: 50%;
    }

    &-img {
      width: 50%;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 36px;
    }

    &-text {
      line-height: 32px;
      margin-bottom: 36px;
    }

    &-button {
      a {
        @include button;
      }
    }
  }

  &-events {
    margin-bottom: 64px;

    &-title {
      margin-bottom: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 36px;
        font-weight: bold;
      }

      div {
        color: $blue;
      }
    }

    &-items {
      display: flex;
      flex-flow: row wrap;
    }

    &-i {
      width: calc(100% / 3 - 36px);
      margin-right: 54px;
      height: 240px;
      padding: 24px;
      background: #f0f0f0;
      display: flex;
      flex-flow: column nowrap;
      border-radius: 6px;
      margin-bottom: 24px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &-type {
        color: $blue;
        margin-bottom: 24px;
      }

      &-name {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 36px;
      }

      &-time {
        opacity: 0.7;
      }
    }
  }

  &-q {
    background: $blue;
    color: #fff;

    &-inner {
      display: flex;
      justify-content: space-between;
      padding: 48px 0;
    }

    &-content {
      width: 30%;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 12px;
    }

    &-text {
      font-size: 18px;
    }

    &-items {
      width: 60%;
      display: flex;
    }

    &-i {
      width: 33.3333%;

      &-name {
        font-size: 18px;
        opacity: 0.7;
        margin-bottom: 12px;
      }

      &-number {
        font-size: 18px;
        margin-bottom: 12px;

        a {
          color: #fff;
          transition: 0.3s;
        }
      }
    }
  }

}