@import '../../vars.scss';


.courses {
  &-top {
    &-inner {
      padding: 64px 0;
      width: 50%;
    }

    &-title {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-text {
      font-size: 18px;
      line-height: 32px;
    }
  }

  &-type {
    background: #F1F2F6;

    &-inner {
      padding: 36px 0;

      span {
        margin-right: 64px;
        font-size: 18px;
        font-weight: bold;
        padding: 6px 0;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: $blue;
          border-bottom: 3px solid $blue;
        }

      }

      &-active {
        color: $blue;
        border-bottom: 3px solid $blue;
      }
    }
  }

  &-items {
    &-inner {
      display: flex;
      flex-flow: row wrap;
      margin: 36px 0;
    }


    &-i {
      width: calc(100% / 3 - 36px);
      margin-right: 54px;
      height: 360px;
      padding: 24px;
      background: #f0f0f0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      margin-bottom: 36px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &-badge {
        width: 40%;
        margin-bottom: 24px;

        span {
          background: $red;
          color: white;
          padding: 6px;
        }
      }

      &-name {
        font-size: 30px;
        font-weight: bold;
      }

      &-start {}
    }

  }
}