@import '../../vars.scss';

.contact {
  &-top {
    padding: 48px 0;

    &-title {
      font-size: 48px;
      font-weight: bold;
    }
  }

  &-info {
    margin-bottom: 64px;

    &-inner {
      display: flex;
    }


    &-left {
      width: 50%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }

    &-text {
      font-size: 20px;
      margin-bottom: 36px;
    }

    &-i {
      margin-bottom: 20px;

      &-badge {
        margin-bottom: 6px;
      }

      &-content {
        font-size: 20px;
        font-weight: bold;
      }
    }

    &-social {
      &-title {
        opacity: 0.7;
        margin-bottom: 24px;
      }
    }

    &-right {
      width: 50%;

      &-title {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 24px;
      }
    }

    &-form {

      input,
      textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 16px;
        padding: 16px 24px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        outline: none;
        font-size: 18px;
        border: 1px solid #fff;
        transition: 0.3s;

        &::placeholder {
          font-family: 'Gilroy';
          color: #000;
        }

        &:focus {
          border: 1px solid #000;
        }
      }

      button {
        @include button;
      }
    }
  }

  &-map {
    width: 100%;
    height: 400px;
  }
}