@import '../../vars.scss';

.header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  &-modal {
    background: $darkblue;
    height: 100vh;

    &-inner {
      padding: 24px;
    }

    &-top {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-title {
        color: $blue;
      }

      &-close {
        padding: 12px;
        color: #ffffff;
      }
    }
    

    &-i {
      padding: 10px 0;
      display: block;
      color: #f0f0f0;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 8px;

      &:hover {
        color: lightgray;
        opacity: 0.8;
      }
    }

    &-links {
      margin-top: 36px;
    }

    &-link {
      color: #ffffff;
      font-size: 24px;
      display: block;
      margin-bottom: 8px;
    }
  }

  &-inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    img {
      height: 60px;
    }
  }

  &-burger {
    display: none;
    padding: 8px;
  }

  &-menu {
    &-i {
      padding: 10px 12px;
      margin: 0 12px;
      font-size: 18px;
      font-weight: 300;
    }
  }

  &-contact {
    @include button;
  }
}