@import '../../vars.scss';


.events {
  &-top {
    &-inner {
      padding: 64px 0;
      width: 50%;
    }

    &-title {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-text {
      font-size: 18px;
      line-height: 32px;
    }
  }

  &-type {
    background: #F1F2F6;

    &-inner {
      padding: 36px 0;

      span {
        margin-right: 64px;
        font-size: 18px;
        font-weight: bold;
        padding: 6px 0;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          color: $blue;
          border-bottom: 3px solid $blue;
        }

      }

      &-active {
        color: $blue;
        border-bottom: 3px solid $blue;
      }
    }
  }

  &-items {
    &-inner {
      display: flex;
      flex-flow: row wrap;
      margin: 36px 0;
    }


    &-i {
      width: calc(100% / 3 - 36px);
      margin-right: 54px;
      height: 240px;
      padding: 24px;
      background: #fff;
      margin-bottom: 36px;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
      box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
      cursor: pointer;
      transition: 0.3s;

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:hover {
        transform: scale(1.01);
        -webkit-box-shadow: 0 1px 16px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 16px rgba(0, 0, 0, .1);
      }

      &-badge {
        width: 40%;
        margin-bottom: 16px;

        span {
          color: $blue;
        }
      }

      &-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      &-start {}
    }

  }

}