@import '../../vars.scss';


.admin {
  &-top {
    &-inner {
      padding: 64px 0;
      width: 50%;
    }

    &-title {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    &-text {
      font-size: 18px;
      line-height: 32px;
    }
  }

  &-events {
    margin: 64px 0;

    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 36px;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
    }

    &-button {
      @include button
    }

    &-table {
      background: #ffffff;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);


      &-i {
        padding: 12px 6px;
        margin: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;


        &-buttons {
          display: flex;
        }

        &-name {
          font-size: 20px;
        }

        &-watch {
          @include button
        }

        &-delete {
          @include button-red;
          margin-left: 24px;
        }
      }
    }
  }

  &-modal {
    // position: fixed;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100vh;
    // z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: space-around;


    &-bg {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.4);
    }

    &-inner {
      position: fixed;
      left: 0;
      top: 0;
      width: 50%;
      height: 600px;
      margin: 0 25%;
      padding: 24px;
      margin-top: 120px;
      background: #fff;
      z-index: 1003;
      border-radius: 6px;
      -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
      overflow-y: scroll;
    }

    &-title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 36px;
    }

    &-add {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        width: 70% !important;
        min-width: 70% !important;
        max-width: 70% !important;
      }

      div {
        @include button;
        width: 25%;
        margin-bottom: 16px;
      }
    }

    &-items {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 36px;

      &-i {
        padding: 6px 12px;
        margin-right: 24px;
        background: $blue;
        border-radius: 100px;
        color: #fff;
      }
    }

    &-submit {
      @include button-red;
      width: 40%;
      margin: 0 auto;
    }

    &-form {
      @include form;

      select {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 16px;
        padding: 16px 24px;
        border-radius: 6px;
        -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 9px rgba(0, 0, 0, .1);
        outline: none;
        font-size: 18px;
        border: 1px solid #fff;
        transition: 0.3s;

        &:focus {
          border: 1px solid #000;
        }
      }


    }

    &-text {
      margin-bottom: 24px;

      &-badge {
        color: $blue;
        margin-bottom: 8px;
      }

      &-inner {
        font-size: 20px;
      }
    }
  }


}